apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: wdtz
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-yshh-tenant/byoc-app-zudz/wdtz@sha256:d47995289da84f2ae82f310c9e7c10c20b2faac8894cd87ce969320bcf991068
        name: my-java-quarkus
        resources: {}
status: {}
