apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: wdtz
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: wdtz
    app.kubernetes.io/part-of: byoc-app-zudz
  name: wdtz
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: wdtz
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: wdtz
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-yshh-tenant/byoc-app-zudz/wdtz@sha256:d47995289da84f2ae82f310c9e7c10c20b2faac8894cd87ce969320bcf991068
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
